div {
    display: flex;
    flex-wrap: nowrap;
    height : 50px;
}
#one > #red{
    background-color: red;
    width : 500px;
    height : inherit;
    margin : 0px;
}
#one > #blue{
    background-color: blue;
    width : 500px;
    height : inherit;
    margin : 0px;
}
#two > #green{
    background-color: green;
    width : 925px;
    height : inherit;
    margin : 0px;
}
#two > #blue{
    background-color: blue;
    width : 75px;
    height : inherit;
    margin : 0px;
}
#three > #red{
    background-color: red;
    width : 75px;
    height : inherit;
    margin : 0px;
}
#three > #blue{
    background-color: blue;
    width : 75px;
    height : inherit;
    margin : 0px;
}
#three > #green{
    background-color: green;
    width : 850px;
    height : inherit;
    margin : 0px;
}
#four > #red{
    background-color: red;
    width : 925px;
    height : inherit;
    margin : 0px;
}
#four > #blue{
    background-color: blue;
    width : 75px;
    height : inherit;
}
#five {
    background-color: green;
    width : 1000px;
    height : 50px;
}
#five > #red {
    background-color: red;
    margin-left: 475px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    height : 30px;
    width: 30px;
}
#six {
    background-color: red;
    width : 1000px;
    height : 50px;
}
#six > #blue {
    background-color: blue;
    margin-left: 460px;
    justify-content: center;
    align-items: center;
    height : 50px;
    width: 80px;
}

#seven {
    background-color: blue;
    width : 1000px;
    height : 50px;
}
#seven > #red {
    background-color: red;
    width : 15%;
    height : inherit;
}
#seven > #green{
    background-color: green;
    width : 85% ;
    height : 20px;
    margin-top: 15px;
}
#eight > #orange:nth-of-type(2n-1) {
    background-color: orange;
    width : 40px;
    height : 50px;
}
#eight > #green:nth-of-type(2n) {
    background-color: green;
    width : 200px;
    height : 50px;
}
#nine > #orange:nth-of-type(2n-1) {
    background-color: orange;
    width : 192.5px;
    height : 50px;
}
#nine > #green:nth-of-type(2n) {
    background-color: green;
    width : 10px;
    height : 50px;
}



